<a href="https://colab.research.google.com/github/Swalbak/Swalbak.github.io/blob/main/algorithm_class/ipynb/%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_2%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 10개의 수를 입력받아 리스트(list)에 저장하시오.

In [ ]:
input_str = input("10개의 수 입력: ")
input_list = list(map(lambda x: int(x), input_str.split(" ")))
input_list

10개의 수 입력: 1 2 3 4 5 6 7 8 9 10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

1-1. 리스트의 원소를 역순(reverse)으로 출력하시오.

In [ ]:
input_list = input_list[::-1]
print(input_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

1-2. 10개의 수 중 최댓값을 찾고 최댓값의 위치(인덱스)를 출력하시오.

In [ ]:
max_index = 0
max_num = input_list[0]
for i in range(1, len(input_list)):
    if input_list[i]>max_num:
        max_index = i
        max_num = input_list[i]
print(f"{max_num}(최댓값), {max_index}(인덱스)")

10(최댓값), 0(인덱스)

2. 0부터 100 사이의 수를 입력 받은 후, 등급을 출력하시오.
    * A: 90 이상, B: 80이상 90미만, C: 70이상 80미만, D: 기타

In [ ]:
score = int(input("점수 입력: "))

grade = 65
num = abs(99-score)//10
grade_ASCII = grade+num if num<3 else grade+3

print(chr(grade_ASCII))

점수 입력: 20
D

3. 0부터 100 사이의 임의의 정수 50개를 생성한 후, 동일한 값의 존재 유무
를 확인하는 알고리즘을 구현하시오.

In [ ]:
import random

random_array = [random.randrange(0, 100) for _ in range(50)]
visited_array = []

for num in random_array:
    if num in visited_array:
        break
    else:
        visited_array.append(num)

if len(visited_array) == len(random_array):
    print('O')
else:
    print('X')

X

4. 입력 받은 임의의 양의 정수가 소수인지 아닌지 판별하는 알고리즘을 구현
하시오.

In [ ]:
num = int(input("양의 정수 입력: "))
is_prime = True
for i in range(2, num//2+1):
    if num%i == 0:
        is_prime = False
        break

print("소수입니다.") if is_prime else print("소수가 아닙니다.")

양의 정수 입력: 4
소수가 아닙니다.

5. for문을 사용하여 다음과 같이 출력하시오.

In [ ]:
num = 9

for st in range(1, num+1, 2):
    print(" " * ((num-st)//2), end="")
    print("*"* st)

for st in range(num, 0, -2):
    print(" " * ((num-st)//2), end="")
    print("*"* st)

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

6. 패턴을 압축하는 알고리즘을 구현하시오.

In [ ]:
pat = input("패턴 입력")

point = 0
result = ""
for i in range(len(pat)):
    if pat[point] != pat[i]:
        result += f"{pat[point]}{i-point}"
        point = i
result += f"{pat[point]}{len(pat)-point}"

print(result)

패턴 입력aaaaabbbccccccddddddddd
a5b3c6d9

7. 키보드로부터 다음의 조건을 만족하도록 문자를 입력 받고, 대소문자를 변
환하는 알고리즘을 구현하시오.

In [ ]:
is_cap_alpha = False
is_num = False
is_sm_alpha = False
is_sp = False

while(not (is_cap_alpha and is_num and is_sm_alpha and is_sp)):
    input_str = input("문자열 입력: ")

    is_cap_alpha = False
    is_num = False
    is_sm_alpha = False
    is_sp = False
    res = ""

    for s in input_str:
        str_ascii = ord(s)
        if 129 > str_ascii and str_ascii > 96:
            res += chr(str_ascii-32)
            is_sm_alpha = True

        elif str_ascii > 64:
            res += chr(str_ascii+32)
            is_cap_alpha = True

        elif str_ascii > 47 and str_ascii < 58:
            is_num = True
            res += chr(str_ascii)

        else:
            res += chr(str_ascii)
            is_sp = True
print(res)

문자열 입력: HANBAT!!22Fall
hanbat!!22fALL

8. 1부터 100 사이의 자연수가 적힌 N장의 카드가 있습니다. 이 중 3장을 뽑아 각 카드에 적힌 수를 합한 값의 모든 경우의 수를 기록하고, K번째로 큰 수를 출력

In [ ]:
# n_k = input("N과 k를 입력: ")
# card_str = input("카드 번호를 입력")
n_k = '10 3'
card_str = '18 54 46 52 28 22 23 53 28 40'
n, k, *card = map(lambda x: int(x), (n_k+" "+card_str).split(" "))

card.sort(reverse = True)
print(card)
sum_list = []
card_list = [0, 1, 2]

for i in range(0, len(card)-2):
    for k in range(i+1, len(card)-1):
        for j in range(k+1, len(card)):
            sum = card[i] + card[k] + card[j]
            if sum not in sum_list:
                sum_list.append(sum)
print(sorted(sum_list, reverse=True))

[54, 53, 52, 46, 40, 28, 28, 23, 22, 18]
[159, 153, 152, 151, 147, 146, 145, 140, 139, 138, 135, 134, 133, 130, 129, 128, 127, 126, 125, 124, 123, 122, 121, 120, 118, 117, 116, 115, 114, 112, 111, 110, 109, 108, 105, 104, 103, 102, 100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 87, 86, 85, 81, 80, 79, 78, 74, 73, 69, 68, 63]