<a href="https://colab.research.google.com/github/Swalbak/Swalbak.github.io/blob/main/algorithm_class/ipynb/%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_4%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 삽입, 선택, 버블 정렬을 오름차순으로 구현하시오.

In [ ]:
array = [3, 1, 2, 5, 4]

In [ ]:
def sel_sort(array, reverse=False):

    for i in range(len(array)-1):
        for k in range(i+1, len(array)):
            if not reverse:
                # 최소값 왼쪽부터
                if array[i] > array[k]:
                    array[i], array[k] = array[k], array[i]
            else:
                if array[i] < array[k]:
                    array[i], array[k] = array[k], array[i]
            
    
    return array

In [ ]:
array = [3, 1, 2, 5, 4]
print(sel_sort(array))

[1, 2, 3, 4, 5]

In [4]:
def bub_sort(array, reverse=False):
    # for i in range(len(array)-1):
    #     for k in range(len(array)-1, i, -1):
    for i in range(len(array)-1, 0, -1):
        for k in range(i):
            if not reverse:
                if array[k+1] < array[k]:
                    array[k+1], array[k] = array[k], array[k+1]
            else:
                if array[k+1] > array[k]:
                    array[k+1], array[k] = array[k], array[k+1]
    
    return array

In [11]:
array = [3, 1, 2, 5, 4]
print(bub_sort(array))

[1, 2, 3, 4, 5]

In [ ]:
def ins_sort(array, reverse=False):
    for i in range(1, len(array)):
        for k in range(i, 0, -1):
            if reverse:
                if array[k-1] < array[k]:
                    array[k-1], array[k] = array[k], array[k-1]
            else:
                if array[k-1] > array[k]:
                    array[k-1], array[k] = array[k], array[k-1]

    return array

In [ ]:
array = [3, 1, 2, 5, 4]
print(ins_sort(array))

[1, 2, 3, 4, 5]

2. N개의 숫자 중 K번째의 숫자를 출력하시오.

In [ ]:
N, K = map(int, input().split())
num_list = list(map(int, input().split()))

print(bub_sort(num_list, reverse=True)[K-1])

5 2
100 76 85 93 98
98

3. 2차원 평면 위의 N개의 점의 좌표를 y좌표 기준으로 오름차순, 같다면 x 기준으로 오름차순

In [1]:
def dem_sort(array, reverse=False):
    for i in range(1, len(array)):
        for k in range(i, 0, -1):
            if array[k-1][1] > array[k][1]:
                array[k-1], array[k] = array[k], array[k-1]
            elif array[k-1][1] == array[k][1]:
                if array[k-1][0] > array[k][0]:
                    array[k-1], array[k] = array[k], array[k-1]

    return array

In [2]:
N = int(input())
location_list = []
for _ in range(N):
    location_list.append(list(map(int, input().split())))
for loc in dem_sort(location_list, reverse=True):
    print(loc[0], loc[1])

5
0 4
1 2
1 -1
2 2
3 3
1 -1
1 2
2 2
3 3
0 4

4. N개의 카드와 M개의 정수가 주어졌을 때 M개의 정수가 적혀 있는 숫자 카드가 몇 개 있는지 출력하시오.

In [ ]:
N = int(input())
card_list = list(map(int, input().split()))
M = int(input())
num_list = list(map(int, input().split()))

card_list = bub_sort(card_list)

card_dict = {}
key_index = 0
for i in range(M):
    if card_list[key_index] != card_list[i]:
        card_dict[card_list[key_index]] = i-key_index
        key_index = i
card_dict[card_list[key_index]] = N - key_index

for num in num_list:
    if num in card_dict:
        print(card_dict[num], end=" ")
    else:
        print(0, end=" ")

10
6 3 2 10 10 10 -10 -10 7 3
8
10 9 -5 2 3 4 5 -10
3 0 0 1 2 0 0 2

5. X1, X2, ... 의 좌표가 주어질 때 Xi > Xj를 만족하는 서로 다른 좌표의 개수로 압축하시오.

In [18]:
N = int(input())
loc_list = list(map(int, input().split()))

sorted_loc_list = bub_sort(loc_list[:])

loc_dict = {}
dif_loc = sorted_loc_list[0]
count = 0
for loc in sorted_loc_list:
    if dif_loc != loc:
        count += 1
        dif_loc = loc
    loc_dict[loc] = count

# for loc in sorted_loc_list:
#     if dif_loc != loc:
#         loc_dict[dif_loc] = count
#         dif_loc = loc
#         count += 1
# loc_dict[sorted_loc_list[-1]] = count

for loc in loc_list:
    print(loc_dict[loc], end=" ")

6
1000 999 1000 999 1000 999
1 0 1 0 1 0